/**{*/
/*    box-sizing: border-box;*/
/*}*/
@media (max-width: 1024px){}
@media (max-width: 768px) {} /* max-width 24% */
@media (max-width: 480px) {  /* max-width 48% */
    .container{
        width: 300px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .
}

.wrapper{
    min-height: 100%;
    max-width: 100%;
}
.container{
    max-width: 1390px; /*320px*/
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    /*position: absolute;*/
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__top{
    background: rgba(255, 255, 255, 1);
}
.header__top-inner{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 100%;
}
.header__logo-box{
    display: flex;
    align-items: center;
    flex: 0 1 auto;
}
.header__logo{}
.header__phrase{
    width: 117px;
    font: normal 16px/137.5% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
}
.header__menu{
    width: 814px;
}
.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header__list-item{}
.header__link{
    font: 600 20px/110% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
}
.header__content{
    background: url("../img/content-top-fon 1.jpg") center center no-repeat;
    min-height: 747px;
    text-align: center;
}
.header__title{
    padding-top: 217px;
    font: 600 70px/21% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
}
.header__subtitle{
    padding-top: 70px;
    font: normal 30px/73% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
}
.header__buttons{
    padding-top: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.header__btn{
    width: 220px;
    height: 70px;
    box-sizing: border-box;
    border: 4px solid rgba(255, 255, 255, 1);
    background: none;
    margin-right: 38px;
    text-align: center;
    font: bold 22px/118% 'Roboto', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
}
.header__btn:hover{
    border: none;
    background: rgba(0, 137, 123, 1);
}
.header__arrow{
    padding-top: 129px;
}
.about{
    background: rgba(255, 255, 255, 1);
}
.about__inner{
    min-height: 670px;
    padding-top: 115px;
}
.title {
    font: bold 36px/136% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding-bottom: 30px;
}
.text{
    max-width: 832px;
    font: normal 18px/133% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0 auto;
}
.about__blocks{
    padding-top: 105px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 115px;
}
.about__block{
    max-width: 247px;
    text-align: center;
}
.block-img{
    padding-bottom: 30px;
}
.about__title{
    padding-bottom: 30px;
    font: 600 20px/110% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
}
.about__text{
    font: normal 15px/147% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
}

.services{
    background: rgba(228, 253, 249, 1);
}
.services__inner{
    max-width: 1505px;
    padding-top: 115px;
    padding-left: 85px;
    padding-right: 85px;
    text-align: center;
}
.services__blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 110px;
}
.services__block{
    max-width: 370px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 45px;
    flex: 0 1 370px;
}
.services__block:hover{
    background: rgba(0, 137, 123, 1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}
.services-img{
    padding: 50px 0 40px 0;
}
.services__block:hover .services-img {
    content: url("../img/smartphone-white 1.png");
}
.services__title{
    padding-bottom: 20px;
    font: 600 20px/110% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
}
.services__block:hover .services__title {
    color: rgba(255, 255, 255, 1);
}
.services__text{
    padding: 20px 35px 40px 35px;
    font: normal 15px/167% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
}
.services__block:hover .services__text {
    color: rgba(255, 255, 255, 1);
}
.services__btn{
    width: 160px;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 1);
    background: none;
    text-align: center;
    font: 600 20px/110% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 50px;
}
.services__block:hover .services__btn {
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);

}
.services-main__btn{
    width: 220px;
    height: 70px;
    box-sizing: border-box;
    border: 4px solid rgba(0, 137, 123, 1);
    background: rgba(0, 137, 123, 1);
    text-align: center;
    font: 600 20px/110% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 115px;
}

.pricing{
    min-height: 1142px;
    padding-top: 116px;
    background: rgba(240, 241, 241, 1);
}
.pricing__items{
    padding-top: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing__item{
    width: 388.95px;
    box-sizing: border-box;
    text-align: center;
}
.pricing__item:hover{
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
}
.pricing__item-header{
    min-height: 209.69px;
    background: rgba(57, 73, 171, 1);
    align-items: center;
    text-align: center;
}
.pricing__item-name{
    font: normal 25px/88% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
    padding-top: 49.93px;
    padding-bottom: 49.93px;
}
.price{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.1em;
}
.currency{
    font: normal 25px/88% 'Open Sans', SansSerif;
    vertical-align: top;
}
.pricing__item-cost{
    font: normal 50px/44% 'Open Sans', SansSerif;
}
.pricing__period{
    width: 388.95px;
    font: normal 20px/110% 'Open Sans', SansSerif;
    padding-bottom: 49.93px;
}
.pricing__list{
    background: rgba(255, 255, 255, 1);
    padding-top: 24.96px;
    padding-bottom: 45.93px;
}
.pricing__list-item {
    margin: 0 auto;
    text-align: center;
    max-width: 187.11px;
    font: 300 17px/412% 'Open Sans', SansSerif;
    border-bottom: black;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(191, 191, 191, 1);
}
.pricing__footer{
    background: rgba(255, 255, 255, 1);
    padding-bottom: 49.93px;
}
.pricing__btn{
    width: 189.22px;
    height: 59.91px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    text-align: center;
    font: 600 20px/110% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
}
.pricing__btn:hover{
    background: rgba(0, 137, 123, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
}
.team{
    background: rgba(255, 255, 255, 1);
}
.team__inner{
    padding-top: 114px;
    margin: 0 auto;
}
.team__members{
    padding-top: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team__member{
    text-align: center;
}
.team__member-img{
    padding-bottom: 40px;
}
.team__member-name{
    font: 600 24px/92% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 15px;
}
.team__member-position{
    font: normal 20px/110% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 40px;
}
.social{
    padding-bottom: 115px;
}
.team__social-inner {
    max-width: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team__social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background: #F0F1F1;
    border-radius: 10px;
}
.team__social:hover {
    border: 1px solid #00897B;
}
.circles{
    padding-bottom: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle__button{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgba(0, 137, 123, 1);
    margin-right: 15px;
}
.circle__button:nth-last-child(3){
    padding-right: 0;
}
.circle__button:hover{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgba(57, 73, 171, 1);
}


.blog{
    background: rgba(228, 253, 249, 1);
}
.blog__inner{
    padding-top: 113px;
    min-height: 1960px;
    text-align: center;
}
.blog__blocks{
    padding-top: 115px;
    text-align: justify;
}
.blog__block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog__img{}
.blog__info{
    padding-left: 70px;
}
.blog__info-title{
    font: 600 30px/73% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 50px;
}
.blog__info-title:hover{
    color: rgba(0, 137, 123, 1);
}
.blog__info img{
    padding-right: 20px;
    padding-bottom: 50px;
}
.blog__info span{
    font: 600 18px/122% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 50px;
    padding-right: 70px;
}
.blog__info p{
    max-width: 535px;
    font: normal 18px/144% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 50px;
    margin-right: 80px;
}
.blog__btn{
    margin-top: 50px;
    width: 220px;
    height: 70px;
    box-sizing: border-box;
    border: 4px solid rgba(0, 137, 123, 1);
    background: rgba(0, 137, 123, 1);
    text-align: center;
    font: 600 20px/110% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 115px;
}

.contact{
    background: rgba(34, 35, 33, 1);
}
.contact__inner{
    padding: 115px 85px 115px 85px;
    text-align: center;
}
.contact__title{
    font: bold 36px/136% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-bottom: 30px;
}
.contact__text{
    max-width: 832px;
    font: normal 18px/133% 'Open Sans', SansSerif;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0 auto;
}
.contact__labels{
    padding-top: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 115px;
    margin: 0 auto;
}
.contact__label-block{
    width: 308px;
    text-align: center;
}
.contact__circle-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 40px;
}
.contact__circle{
    box-sizing: border-box;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background: rgba(57, 73, 171, 1);
}
.label-block__img1{
    padding-top: 33px;
}
.label-block__img2{
    padding-top: 24px;
}
.label-block__img3{
    padding-top: 33px;
}
.contact__label-block span{
    font: 600 20px/140% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
}
.contact__forms{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    margin-bottom: 40px;

}
.contact__form-info{}
.form-info__block{
    box-sizing: border-box;
    width: 570px;
    height: 100px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 1);
    font: 600 20px/140% 'Open Sans', SansSerif;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.1em;
    padding-left: 30px;
    padding-top: 36px;
    margin-bottom: 40px;
}
.form-info__block:nth-last-child(1){
    margin-bottom: 0;
}
.contact__form-message{
    box-sizing: border-box;
    width: 570px;
    height: 380px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 1);
    font: 600 20px/140% 'Open Sans', SansSerif;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.1em;
    padding-left: 30px;
    padding-top: 36px;
    /*margin-left: 60px;*/
}
.contact__btn{
    margin-top: 50px;
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 20px;
    background: rgba(57, 73, 171, 1);
    text-align: center;
    font: 600 26px/108% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 115px;
}

.footer{
    background: rgba(255, 255, 255, 1);
}
.footer__inner{
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__menu{
    width: 788px;
}
.footer__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer__list-item{}
.footer__link{
    font: normal 20px/110% 'Open Sans', SansSerif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
}
.footer__right{}
.footer__span{
    display: flex;
    align-items: center;
    font: normal 18px/156% 'Open Sans', SansSerif;
    letter-spacing: 0.0025em;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
}
.footer__social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer__social img{
    padding-left: 30px;
}